@import "normalize.css/normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    font-family: 'Vollkorn', serif;
    line-height: 120%;
    font-weight: 400;
}

@font-face {
    font-family: "Vollkorn";
    src: url('../fonts/Vollkorn/static/Vollkorn-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Vollkorn";
    src: url('../fonts/Vollkorn/static/Vollkorn-Bold.ttf');
    font-weight: 700;
}